$dark-primary: #0288D1;
$primary: #29aae2;
$light-primary: #B3E5FC;
$super-light-primary: #f1f8ff;
$white: #FFFFFF;
$accent: #536DFE;
$primary-text: #212121;
$secondary-text: #727272;
$light-grey: #f2f0f2;
$super-light-grey: #fafafa;
$divider: #d7d9da;
$black-opacity: rgba(37, 37, 37, 0.7);
$light-opacity: rgba(0, 0, 0, 0.175);
$nice-green: #00BFA5;
$light-hover: rgba(0, 0, 0, 0.175);
$error: #e23b3b;
$light: #FFFFFF;
$hover: inset 0 0 0 99999px rgba(0, 0, 0, 0.05);
